<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>

<body>
    <h1>
        All shifts on <%= date %>
    </h1>
    <div class="buttons">
        <a href="/events/new">Add New Event</a>
        <a href="/">Calendar</a>
    </div>
    <div>
        <table>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Shift</th>
                <th>Action</th>
            </tr>
    
            <% for(var event of events) { %>
                <tr>
                    <td>
                        <%= event.start %>
                    </td>
                    <td>
                        <%= event.end %>
                    </td>
                    <td>
                        <%= event.shift %>
                    </td>
                    <td>
                        <form action="/events/delete" method="get">
                            <input type="hidden" name="id" value="<%= event._id %>">
                            <input type="hidden" name="date" value="<%= event.date %>">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }; %>
        </table>
    </div>

</body>

</html>